.user-avatar-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.dropdown-menu {
    left: unset;
    right: 0;
}

.dropdown-toggle{
    border-style: none;
}