body 
{
    background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
}

#ProfileContainer col-xs-6 col-md-4
{
    display: flex;
    font-family: Calibri;
    width: auto;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#password0, #password, #password1 
{
	height: auto;
    width: auto;
	border-radius: 25px;
	display: flex;
	justify-content: center;
    margin: 3% 0% 3% 0%;
}

#main-section 
{
    text-align: center;
    height: auto;
    width: auto;
    background-color: white;
    padding: 25px;
    margin: 10vh 10vw 10vw 10vw;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 25px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.content-section 
{
    float: left;
    width: 100%;
    margin: 0% 0% 3% 0%;
}

.updatepass-section 
{
    float: center;
    display: flex;
	justify-content: center;
    width: auto;
	margin: 3% 16% 0% 16%;
    text-align: left;
}

.upDetails
{
    float: right;
    text-align: right;
    margin: 0% 4% 0% 0%;
}

button 
{
    background-color: #0f0761;
    color: white;
	font-size: 25px;
    font-weight: 400;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-family: Calibri;
    width: 70%;
    margin: auto;
    border-radius: 25px;
}